{% extends base %}
{% load customtags %}
{% block body %}
    {% if user.is_authenticated %}
        {% cart_count cart as cartCount %}
        {% if cartCount != 0 %}
            <section>
                <h1 class="my-8 text-2xl text-center text-black dark:text-white font-semibold">Items</h1>
                <div class="flex justify-center flex-wrap gap-4 relative overflow-x-auto md:mx-32 mx-4 p-2">
                    {% for cartItem in page.object_list %}
                        {% if cartItem.quantity > 0 %}
                            {% include "partials/cartItemCard.html" with cartItem=cartItem %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="flex justify-end gap-4 relative overflow-x-auto md:mx-32 mx-4">
                    <a hx-boost="true"
                       hx-target="#main"
                       hx-indicator="#loading"
                       class="mt-4 px-4 py-2 text-sm font-semibold text-gray-200 bg-blue-500 rounded-md focus:outline-none"
                       href="{% url 'checkout' %}">Checkout</a>
                </div>
            </section>
        {% else %}
            <p class="text-center text-xl text-gray-800 dark:text-gray-200">
                Your cart is empty. Please add some items to your cart.
            </p>
        {% endif %}
    {% else %}
        <p class="text-center text-xl text-gray-800 dark:text-gray-200">
            You need to be logged in to view your cart. Please
            <a hx-boost="true"
               hx-target="#main"
               hx-indicator="#baseLoading"
               class="text-blue-500"
               href="{% url 'signin' %}">Login Here.</a>
        </p>
    {% endif %}
    {% url "cart" as cart %}
    {% include "partials/pagignation.html" with page=page url=cart %}
{% endblock body %}
