{% load customtags %}
<div id="addressLabel"
     class="text-gray-800 dark:text-gray-200 bg-gray-100 dark:bg-gray-900 bg-opacity-50 dark:bg-opacity-50 shadow cursor-pointer rounded-xl dark:ring-orange-trans ring-green-trans backdrop-blur-lg"
     :class="{'ring-2':isChecked == {{ address.id }},'ring-0':isChecked != {{ address.id }} }">
    <div class="flex">
        <div class="flex-1 p-4 overflow-hidden">
            <ul>
                <li>{{ request.user.full_name }}</li>
                <li>
                    <address>{{ address.address|slice:25 }}...</address>
                </li>
                <li>{{ address.pincode }} {{ address.city }}</li>
                <li>{% state_name address.state %}</li>
            </ul>
        </div>
        <div class="flex-none pt-2.5 pr-2.5 pl-1">
            <button hx-post="{% url 'edit_address_form' %}"
                    hx-indicator="#innerLoading"
                    hx-target="#sideCard"
                    name="address_id"
                    value="{{ address.id }}"
                    hx-swap="innerHTML"
                    type="button"
                    class="px-2 py-2 font-medium tracking-wide text-black capitalize transition duration-300 ease-in-out transform rounded-xl hover:bg-gray-300 dark:hover:bg-gray-700 focus:outline-none active:scale-95">
                {% include "icons/edit.html" %}
            </button>
        </div>
    </div>
</div>
