{% extends base %}
{% load static %}
{% block body %}
    <section>
        <div class="flex justify-between items-center md:mx-32 m-4">
            <div class="flex items-center gap-4 dark:bg-green-trans bg-orange-trans px-2 rounded-xl bg-opacity-30 dark:bg-opacity-30 backdrop-blur-lg shadow-lg">
                <a class="text-sm text-gray-900 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-slate-800  px-2 py-1 rounded-lg"
                   href="{% url "admin_products" %}"
                   hx-boost="true"
                   hx-target="#main"
                   hx-indicator="#baseLoading">Products</a>
                <a class="text-sm text-gray-900 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-slate-800 px-2 py-1 rounded-lg"
                   href="{% url "admin_categories" %}"
                   hx-boost="true"
                   hx-target="#main"
                   hx-indicator="#baseLoading">Categories</a>
                <h1 class="my-4 text-sm text-center  text-gray-900 dark:text-gray-100 font-semibold  px-2 py-1 rounded-lg {% if nav == 2 %}bg-orange-trans dark:bg-green-trans{% endif %}">Brands</h1>
            </div>
            <a class="text-sm text-gray-900 dark:text-gray-100 bg-orange-trans dark:bg-green-trans px-4 py-1 rounded-lg font-semibold"
               href="{% url "add_brand" %}"
               hx-boost="true"
               hx-target="#main"
               hx-indicator="#baseLoading">Add</a>
        </div>
        {% if brands %}
            <div class="flex flex-wrap gap-4 relative max-h-screen overflow-auto md:mx-32 mx-4 rounded-xl shadow-md">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">Name</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Image</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for brand in brands %}
                            <tr class="bg-gray-200 border-b dark:bg-gray-800 border-gray-100 dark:border-gray-700 last:border-none">
                                <td scope="row"
                                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <form method="post"
                                          hx-boost="true"
                                          action="{% url 'admin_products' %}"
                                          hx-target="#main">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="cursor-pointer hover:text-blue-500 dark:hover:text-blue-500"
                                                name="brand"
                                                value="{{ brand.id }}">{{ brand.name }}</button>
                                    </form>
                                </td>
                                <td class="px-4 py-3 cursor-default">{{ brand.description | slice:15 }}...</td>
                                <td class="py-2">
                                    {% if brand.image %}
                                        <button class="focus:outline-none focus:ring-0 rounded-full bg-white" @click='showModal = !showModal; addChildToModal(`
                                            <img src="{{ brand.image.url }}"
                                                 alt=""
                                                 height=""
                                                 width=""
                                                 class="rounded-xl object-contain w-auto h-full mx-auto">
                                            `);'>
                                            <img src="{% static 'images/image.gif' %}"
                                                 width="32"
                                                 height="32"
                                                 class="rounded-full p-1"
                                                 alt="">
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="px-4">
                                    <button class="h-full"
                                            hx-post="{% url "delete_brand" %}"
                                            hx-target="#main"
                                            name="brandID"
                                            value="{{ brand.id }}"
                                            hx-indicator="#baseLoading">
                                                {% include "icons/deleteIcon.html" %}
                                    </button>
                                </td>
                                <td class="px-4">
                                    <a class="h-full"
                                            href="{% url "edit_brand" brand.id %}"
                                            hx-boost="true"
                                            hx-target="#main"
                                            hx-indicator="#baseLoading">
                                                {% include "icons/edit.html" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% url "admin_brands" as admin_brands %}
            {% include "partials/pagignation.html" with page=brands url=admin_brands %}
        {% else %}
            <h1 class="my-4 w-full text-2xl text-center text-gray-800 dark:text-gray-200">You haven't added any brands.</h1>
        {% endif %}
    </section>
    {% include "partials/admin/sidenav.html" with active=0 %}
{% endblock body %}
